.btn {
    border: none;

    &__search {
        background-color: var(--color-gray-medium);
    }

    &:focus {
        outline: none;
    }

    &:active {
        transform: translateY(.2rem);
    }
}