@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

.title {
    background-color: var(--color-gray-light);
    &__title {
        // margin: 1.6rem auto;
        padding: 1.2rem;
        text-align: center;
        font-size: 2.5rem;
        font-weight: 400;
        font-family: 'Ubuntu',
        sans-serif;
        text-shadow: .1rem .1rem .1rem var(--color-white);
        // border-bottom: var(--line-bottom);
    }
}

.subtitle{
    color: var(--color-salmon-dark);
    text-transform: uppercase;
    font-family: 'Ubuntu',
    sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    &:not(:first-child){
        margin-top: 4rem;
    }
}

.paragraph{
    margin: 2rem 2rem;
    text-indent: 2.5rem;
    line-height: 2rem;
    letter-spacing: .1rem;
    padding: 0 5rem;
}

// .green{
//     color:rgb(37, 165, 90);
//     &-dark{
//         color: rgb(106, 131, 39);
//     }
// }
// .blue{
//     color: rgb(49, 132, 250);
//     &-dark{
//         color: rgb(29, 32, 209);
//     }
// }
// .red{
//     color: rgb(172, 27, 27);
// }
// .yellow{
//     color: rgb(199, 174, 36);
// }