.title {
    background-color: var(--color-gray-light);
    &__title {
        // margin: 1.6rem auto;
        padding: 1.2rem;
        text-align: center;
        font-size: 2.5rem;
        font-weight: 300;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-shadow: .1rem .1rem .1rem var(--color-white);
        // border-bottom: var(--line-bottom);
    }
}

.paragraph{
    margin: 2rem 2rem;
    text-indent: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: .1rem;
    padding: 0 5rem;
}

.green{
    color:rgb(37, 165, 90);
    &-dark{
        color: rgb(106, 131, 39);
    }
}
.blue{
    color: rgb(49, 132, 250);
    &-dark{
        color: rgb(29, 32, 209);
    }
}
.red{
    color: rgb(172, 27, 27);
}
.yellow{
    color: rgb(199, 174, 36);
}