.container{
    max-width: 120rem;
    margin: 2rem auto 5rem auto;
    background-color: var(--color-gray-medium);
    box-shadow: var(--shadow-box);

    min-height: 70rem;

    @media only screen and (max-width: $bp-largest) {
        margin: 0;
        max-width: 100%;
        width: 100%;
    }
}